{% extends 'main_app/base.html' %}

{% block title %}Pro POST page {% endblock %}

{% block content %}
<h1>Welcome to Pro post page</h1>

<h3>Our Post</h3>
<div class="row">
    {% for post in posts %}
        <div class="col-4 g-3">
            <div class="card" >
                <!-- <img src="..." class="card-img-top" alt="..."> -->
                <div class="card-body">
                <h5 class="card-title"> {{ post.title }}</h5>
                <div class="card-body">
                    <div class="row">
                        <div class="col">rating: {{post.rating}}</div>
                        <div class="col">{{post.release_date}}</div>
                    </div>
                </div>    
                <a href="{% url 'main_app:post_detail' post.id %}" class="btn btn-primary">View More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>


{% endblock %}